xml/distribution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by toto (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Lamb (LambSys) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:rsl="http://www.resalys.com/XMLSchema/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.resalys.com/XMLSchema/v1" elementFormDefault="qualified">
	<xsd:simpleType name="db_statusType">
		<xsd:annotation>
			<xsd:documentation>Use only for high resalys integration, to modify an already existing reservation file.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cn"/>
			<xsd:enumeration value="utd"/>
			<xsd:enumeration value="cu"/>
			<xsd:enumeration value="cd"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="booleanType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9])?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="priceType">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="distribProposal2Type">
		<xsd:sequence>
			<xsd:element name="etab_id" type="xsd:string"/>
			<xsd:element name="etab_name" type="xsd:string"/>
			<xsd:element name="room_type_code" type="xsd:string"/>
			<xsd:element name="room_type_label" type="xsd:string"/>
			<xsd:element name="start_date" type="rsl:dateType"/>
			<xsd:element name="end_date" type="rsl:dateType"/>
			<xsd:element name="base_product_code" type="xsd:string"/>
			<xsd:element name="base_product_label" type="xsd:string"/>
			<xsd:element name="public_price" type="rsl:priceType"/>
			<xsd:element name="price" type="rsl:priceType"/>
			<xsd:element name="allotment_availability" type="xsd:int"/>
			<xsd:element name="web_dest_link" type="xsd:string"/>
			<xsd:element name="station" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="distribProposals2Type">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="distribProposal" type="rsl:distribProposal2Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="distribProposalType">
		<xsd:sequence>
			<xsd:element name="etab_id" type="xsd:string"/>
			<xsd:element name="etab_name" type="xsd:string"/>
			<xsd:element name="room_type_code" type="xsd:string"/>
			<xsd:element name="room_type_label" type="xsd:string"/>
			<xsd:element name="start_date" type="rsl:dateType"/>
			<xsd:element name="end_date" type="rsl:dateType"/>
			<xsd:element name="public_price" type="rsl:priceType"/>
			<xsd:element name="price" type="rsl:priceType"/>
			<xsd:element name="allotment_availability" type="xsd:int"/>
			<xsd:element name="web_dest_link" type="xsd:string"/>
			<xsd:element name="station" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="distribProposalsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="distribProposal" type="rsl:distribProposalType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cachedAvailableProposalType">
		<xsd:sequence>
			<xsd:element name="etab_id" type="xsd:string"/>
			<xsd:element name="start_date" type="rsl:dateType"/>
			<xsd:element name="end_date" type="rsl:dateType"/>
			<xsd:element name="room_type_code" type="xsd:string"/>
			<xsd:element name="public_price" type="rsl:priceType"/>
			<xsd:element name="net_price" type="rsl:priceType"/>
			<xsd:element name="alternative_themes" type="xsd:string"/>
			<xsd:element name="period_type_code" type="xsd:string"/>
			<xsd:element name="base_product_code" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cachedAvailableProposalsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="cachedAvailableProposal" type="rsl:cachedAvailableProposalType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="roomtypeType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Room type code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="etab_id" type="xsd:string"/>
			<xsd:element name="pax_max" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For information: Maximum number of people that can sleep in this kind of room</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nb_beds" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For information: Maximum number of beds in the room.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="label" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For information: Label of this kind of rooms</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="is_paired" type="rsl:booleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>True if this rooms is paired with another one</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="roomtypesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="roomtype" type="rsl:roomtypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cms_criteria_valueType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>CMS criteria code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="category" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>CMS criteria category</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addressType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="mail" type="xsd:string"/>
			<xsd:element name="country" type="xsd:string"/>
			<xsd:element name="country_code" type="xsd:string"/>
			<xsd:element name="phone1" type="xsd:string"/>
			<xsd:element name="phone2" type="xsd:string"/>
			<xsd:element name="fax" type="xsd:string"/>
			<xsd:element name="phone3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street_number" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="building" type="xsd:string" minOccurs="0"/>
			<xsd:element name="stairs" type="xsd:string" minOccurs="0"/>
			<xsd:element name="apart_num" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="etabType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="address" type="rsl:addressType" minOccurs="0"/>
			<xsd:element name="themecodes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="themecode"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="roomtypes">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="roomtype" type="rsl:roomtypeType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="opening_date" type="rsl:dateType" nillable="true" minOccurs="0"/>
			<xsd:element name="closing_date" type="rsl:dateType" nillable="true" minOccurs="0"/>
			<xsd:element name="cms_criteria_values">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="cms_criteria_value" type="rsl:cms_criteria_valueType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="etabsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="etab" type="rsl:etabType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="themeType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="category" type="xsd:string" minOccurs="0"/>
			<xsd:element name="parent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="icon" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="db_status" type="rsl:db_statusType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="themesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="theme" type="rsl:themeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="language_varType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="language_varsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="language_var" type="rsl:language_varType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="periodTypeType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="etab_id" type="xsd:int" minOccurs="0"/>
			<xsd:element name="campaign_code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="label" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="periodTypesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="period_type" type="rsl:periodTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CMSCriteriaValueType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CMSCriteriaValueListType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="value" type="rsl:CMSCriteriaValueType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CMSCriteriaType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="value_list" type="rsl:CMSCriteriaValueListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CMSCriteriasType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="cms_criteria" type="rsl:CMSCriteriaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="reservation_typeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gin"/>
			<xsd:enumeration value="oin"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="genderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="occupantType">
		<xsd:sequence>
			<xsd:element name="gender" type="rsl:genderType" minOccurs="0"/>
			<xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastname" type="xsd:string"/>
			<xsd:element name="birthdate" type="rsl:dateType" minOccurs="0"/>
			<xsd:element name="pos" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stayType">
		<xsd:sequence>
			<xsd:element name="nb_rooms" type="xsd:int"/>
			<xsd:element name="room_type_code" type="xsd:string"/>
			<xsd:element name="start_date" type="rsl:dateType"/>
			<xsd:element name="end_date" type="rsl:dateType"/>
			<xsd:element name="occupants" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of occupants of the stay, in case of group reservation: this is the rooming list if any exists</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="occupant" type="rsl:occupantType" minOccurs="0">
            </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reservationType">
		<xsd:sequence>
			<xsd:element name="external_id" type="xsd:string"/>
			<xsd:element name="etab_id" type="xsd:string"/>
			<xsd:element name="reservation_type" type="rsl:reservation_typeType"/>
			<xsd:element name="option_date" type="rsl:dateType" minOccurs="0"/>
			<xsd:element name="gender" type="rsl:genderType" minOccurs="0"/>
			<xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastname" type="xsd:string"/>
			<xsd:element name="birthdate" type="rsl:dateType" minOccurs="0"/>
			<xsd:element name="stays" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of reservation stays</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="stay" type="rsl:stayType">
							<xsd:annotation>
								<xsd:documentation>Stay definition</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reservationTypeWS">
		<xsd:sequence>
			<xsd:element name="reservation" type="rsl:reservationType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="etabIDsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="etab_id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="productCodesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="product_code" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="promotionType">
		<xsd:sequence>
			<xsd:element name="promotion_id" type="xsd:string"/>
			<xsd:element name="active" type="rsl:booleanType"/>
			<xsd:element name="etab_ids" type="rsl:etabIDsType"/>
			<xsd:element name="start_date" type="rsl:dateType"/>
			<xsd:element name="end_date" type="rsl:dateType"/>
			<xsd:element name="stay_start_date" type="rsl:dateType"/>
			<xsd:element name="stay_end_date" type="rsl:dateType"/>
			<xsd:element name="product_codes" type="rsl:productCodesType"/>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="promotion_code" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="offered_days" type="xsd:string"/>
			<xsd:element name="fixed_discount_pct" type="xsd:string"/>
			<xsd:element name="room_type_code" type="xsd:string"/>
			<xsd:element name="stay_duraction_min" type="xsd:string"/>
			<xsd:element name="stay_duraction_max" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="promotionsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="promotion" type="rsl:promotionType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="roomtypeCategoryType">
		<xsd:sequence>
			<xsd:element name="category_code" type="xsd:string"/>
			<xsd:element name="category_label" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="roomtypeCategoriesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="roomtype_category" type="rsl:roomtypeCategoryType"/>
		</xsd:sequence>
	</xsd:complexType>	
</xsd:schema>
