xml/soap.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsl="http://www.resalys.com/XMLSchema/v1" xmlns:tns="http://www.resalys.com/XMLSchema/ws/definitions" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns="homingwns" targetNamespace="http://www.resalys.com/XMLSchema/ws/definitions" name="homingwns" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://dvlp.resalys.com/homingweb/html/xml/wsdl.xsd">
 <wsdl:import namespace="http://www.resalys.com/XMLSchema/v1" location="http://eto.madamevacances.resalys.com/reservation/cgi/../html/xml/distribution.xsd"/>
 <wsdl:types>
  <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsl="http://www.resalys.com/XMLSchema/v1"> </xsd:schema>
 </wsdl:types>
 <wsdl:message name="getDistribProposalsRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
  <wsdl:part name="allotment" type="rsl:booleanType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposalsResponse">
  <wsdl:part name="distribProposals" type="rsl:distribProposalsType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposalsByDateRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
  <wsdl:part name="allotment" type="rsl:booleanType"/>
  <wsdl:part name="etab_id" type="xsd:string"/>
  <wsdl:part name="room_type" type="xsd:string"/>
  <wsdl:part name="start_date" type="rsl:dateType"/>
  <wsdl:part name="end_date" type="rsl:dateType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposalsByDateResponse">
  <wsdl:part name="distribProposals" type="rsl:distribProposalsType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposals2Request">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
  <wsdl:part name="allotment" type="rsl:booleanType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposals2Response">
  <wsdl:part name="distribProposals" type="rsl:distribProposals2Type"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposalsByDate2Request">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
  <wsdl:part name="allotment" type="rsl:booleanType"/>
  <wsdl:part name="etab_id" type="xsd:string"/>
  <wsdl:part name="room_type" type="xsd:string"/>
  <wsdl:part name="start_date" type="rsl:dateType"/>
  <wsdl:part name="end_date" type="rsl:dateType"/>
 </wsdl:message>
 <wsdl:message name="getDistribProposalsByDate2Response">
  <wsdl:part name="distribProposals" type="rsl:distribProposals2Type"/>
 </wsdl:message>
 <wsdl:message name="getCachedAvailableProposalsRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partner_code" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
  <wsdl:part name="etab_themes" type="xsd:string"/>
  <wsdl:part name="etab_ids" type="xsd:string"/>
  <wsdl:part name="room_type_codes" type="xsd:string"/>
  <wsdl:part name="period_type_codes" type="xsd:string"/>
  <wsdl:part name="start_date" type="rsl:dateType"/>
  <wsdl:part name="end_date" type="rsl:dateType"/>
  <wsdl:part name="minimum_length" type="xsd:int"/>
  <wsdl:part name="maximum_length" type="xsd:int"/>
  <wsdl:part name="minimum_price" type="xsd:int"/>
  <wsdl:part name="maximum_price" type="xsd:int"/>
                <wsdl:part name="nb_adults" type="xsd:int"/>
                <wsdl:part name="nb_children" type="xsd:int"/>
                <wsdl:part name="maximum_results_per_roomtype" type="xsd:int"/>
                <wsdl:part name="cache_response_life" type="xsd:int"/>
                <wsdl:part name="only_with_promo" type="rsl:booleanType"/>
 </wsdl:message>
 <wsdl:message name="getCachedAvailableProposalsResponse">
  <wsdl:part name="cachedAvailableProposals" type="rsl:cachedAvailableProposalsType"/>
 </wsdl:message>
 <wsdl:message name="getEtabsByThemesRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="etab_themes" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getEtabsByThemesResponse">
  <wsdl:part name="etabs" type="rsl:etabsType"/>
 </wsdl:message>
 <wsdl:message name="getAllEtabsRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllEtabsResponse">
  <wsdl:part name="etabs" type="rsl:etabsType"/>
 </wsdl:message>
 <wsdl:message name="getAllThemesRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllThemesResponse">
  <wsdl:part name="themes" type="rsl:themesType"/>
 </wsdl:message>
 <wsdl:message name="getLanguageVarsRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_vars" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getLanguageVarsResponse">
  <wsdl:part name="language_vars" type="rsl:language_varsType"/>
 </wsdl:message>
 <wsdl:message name="getAllPeriodTypesRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="etab_id" type="xsd:int"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllPeriodTypesResponse">
  <wsdl:part name="period_types" type="rsl:periodTypesType"/>
 </wsdl:message>
 <wsdl:message name="getAllCMSCriteriasRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllCMSCriteriasResponse">
  <wsdl:part name="cms_criterias" type="rsl:CMSCriteriasType"/>
 </wsdl:message>
 <wsdl:message name="getAllRoomTypesRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllRoomTypesResponse">
  <wsdl:part name="roomtypes" type="rsl:roomtypesType"/>
 </wsdl:message>
 <wsdl:message name="getAllRoomTypeCategoriesRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllRoomTypeCategoriesResponse">
  <wsdl:part name="roomtype_categories" type="rsl:roomtypeCategoriesType"/>
 </wsdl:message>
 <wsdl:message name="saveDistribReservationRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="reservation" type="rsl:reservationTypeWS"/>
 </wsdl:message>
 <wsdl:message name="saveDistribReservationResponse">
  <wsdl:part name="reservation_id" type="xsd:int"/>
 </wsdl:message>
 <wsdl:message name="saveDistribReservation2Request">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="partnerCode" type="xsd:string"/>
  <wsdl:part name="baseProductCode" type="xsd:string"/>
  <wsdl:part name="reservation" type="rsl:reservationTypeWS"/>
 </wsdl:message>
 <wsdl:message name="saveDistribReservation2Response">
  <wsdl:part name="reservation_id" type="xsd:int"/>
 </wsdl:message>
 <wsdl:message name="getAllPromotionsRequest">
  <wsdl:part name="base_id" type="xsd:string"/>
  <wsdl:part name="username" type="xsd:string"/>
  <wsdl:part name="password" type="xsd:string"/>
  <wsdl:part name="language_code" type="xsd:string"/>
  <wsdl:part name="convention_id" type="xsd:string"/>
 </wsdl:message>
 <wsdl:message name="getAllPromotionsResponse">
  <wsdl:part name="promotions" type="rsl:promotionsType"/>
 </wsdl:message>
 <wsdl:portType name="resalysPortType">
  <wsdl:operation name="getDistribProposals">
   <wsdl:input message="tns:getDistribProposalsRequest"/>
   <wsdl:output message="tns:getDistribProposalsResponse"/>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposalsByDate">
   <wsdl:input message="tns:getDistribProposalsByDateRequest"/>
   <wsdl:output message="tns:getDistribProposalsByDateResponse"/>
  </wsdl:operation>
  <wsdl:operation name="getCachedAvailableProposals">
   <wsdl:input message="tns:getCachedAvailableProposalsRequest"/>
   <wsdl:output message="tns:getCachedAvailableProposalsResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getEtabsByThemes">
   <wsdl:input message="tns:getEtabsByThemesRequest"/>
   <wsdl:output message="tns:getEtabsByThemesResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getLanguageVars">
   <wsdl:input message="tns:getLanguageVarsRequest"/>
   <wsdl:output message="tns:getLanguageVarsResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getAllEtabs">
   <wsdl:input message="tns:getAllEtabsRequest"/>
   <wsdl:output message="tns:getAllEtabsResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getAllThemes">
   <wsdl:input message="tns:getAllThemesRequest"/>
   <wsdl:output message="tns:getAllThemesResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getAllPeriodTypes">
   <wsdl:input message="tns:getAllPeriodTypesRequest"/>
   <wsdl:output message="tns:getAllPeriodTypesResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getAllCMSCriterias">
   <wsdl:input message="tns:getAllCMSCriteriasRequest"/>
   <wsdl:output message="tns:getAllCMSCriteriasResponse"/>
  </wsdl:operation>
                <wsdl:operation name="getAllRoomTypes">
   <wsdl:input message="tns:getAllRoomTypesRequest"/>
   <wsdl:output message="tns:getAllRoomTypesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="getAllRoomTypeCategories">
   <wsdl:input message="tns:getAllRoomTypeCategoriesRequest"/>
   <wsdl:output message="tns:getAllRoomTypeCategoriesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="saveDistribReservation">
   <wsdl:input message="tns:saveDistribReservationRequest"/>
   <wsdl:output message="tns:saveDistribReservationResponse"/>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposals2">
   <wsdl:input message="tns:getDistribProposals2Request"/>
   <wsdl:output message="tns:getDistribProposals2Response"/>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposalsByDate2">
   <wsdl:input message="tns:getDistribProposalsByDate2Request"/>
   <wsdl:output message="tns:getDistribProposalsByDate2Response"/>
  </wsdl:operation>
  <wsdl:operation name="saveDistribReservation2">
   <wsdl:input message="tns:saveDistribReservation2Request"/>
   <wsdl:output message="tns:saveDistribReservation2Response"/>
  </wsdl:operation>
                <wsdl:operation name="getAllPromotions">
   <wsdl:input message="tns:getAllPromotionsRequest"/>
   <wsdl:output message="tns:getAllPromotionsResponse"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="resalysSoap" type="tns:resalysPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="getDistribProposals">
   <soap:operation soapAction="homingwns#getDistribProposals"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposalsByDate">
   <soap:operation soapAction="homingwns#getDistribProposalsByDate"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getCachedAvailableProposals">
   <soap:operation soapAction="homingwns#getCachedAvailableProposals"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getEtabsByThemes">
   <soap:operation soapAction="homingwns#getEtabsByThemes"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getLanguageVars">
   <soap:operation soapAction="homingwns#getLanguageVars"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllEtabs">
   <soap:operation soapAction="homingwns#getAllEtabs"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllThemes">
   <soap:operation soapAction="homingwns#getAllThemes"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllPeriodTypes">
   <soap:operation soapAction="homingwns#getAllPeriodTypes"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllCMSCriterias">
   <soap:operation soapAction="homingwns#getAllCMSCriterias"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllRoomTypes">
   <soap:operation soapAction="homingwns#getAllRoomTypes"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllRoomTypeCategories">
   <soap:operation soapAction="homingwns#getAllRoomTypeCategories"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="saveDistribReservation">
   <soap:operation soapAction="homingwns#saveDistribReservation"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposals2">
   <soap:operation soapAction="homingwns#getDistribProposals2"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getDistribProposalsByDate2">
   <soap:operation soapAction="homingwns#getDistribProposalsByDate2"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="saveDistribReservation2">
   <soap:operation soapAction="homingwns#saveDistribReservation2"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="getAllPromotions">
   <soap:operation soapAction="homingwns#getAllPromotions"/>
   <wsdl:input>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" namespace="homingwns"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="resalysService">
  <wsdl:port name="ResalysPort" binding="tns:resalysSoap">
   <soap:address location="http://sslocal.postvak.net/chalet/xml/soap.php"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
